* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.principal {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgb(255, 255, 255, 0.7)
    ),
    url(../assets/img/fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}
